group_name: "circular_inputs_third_run"

base_params:
  target_rate: 1.0
  num_latents: 12
  wandb_logging: True
  covariance_learning: True
  activation_function_name: "rectified_quadratic"
  initial_feedforward_weight_scaling: 10.0
  tau_u: 5.0
  T: 40000.0

param_grid:
  rate_homeostasis: [True, False]
  k_I: [2.0, 10.0, 20.0]
  random_seed: [5, 10]

  input_config:
    - type: "circular" 
      param_grid:  
        mixing_parameter: [0.2, 0.5, 0.8]
        vm_concentration: [1.0]
        tuning_width: [1.0] 