group_name: "testing_group"

base_params:
  wandb_logging: True
  random_seed: 1
  covariance_learning: True
  activation_function_name: "rectified_quadratic"
  initial_feedforward_weight_scaling: 1.0
  tau_u: 5.0
  T: 1000.0
  k_I: 20.0
  homeostasis_type: "variance"
  homeostasis_target: 1.0
  mode_log_time: 100.0
  num_latents: 20

param_grid:

  input_config:
    - type: "modulated_circular" 
      param_grid:  
        mixing_parameter: [0.5]
        vm_concentration: [1.0]
        tuning_width: [1.0] 
        modulation_mixing_parameter: [0.1]
        modulation_vm_concentration: [1.0]