group_name: "testing_group"

base_params:
  target_rate: 1.0
  wandb_logging: True
  random_seed: 1
  covariance_learning: True
  activation_function_name: "rectified_quadratic"
  initial_feedforward_weight_scaling: 10.0
  tau_u: 5.0
  T: 1000.0
  k_I: 20.0
  rate_homeostasis: True
  num_latents: 20

param_grid:

  input_config:
    - type: "circular" 
      param_grid:  
        mixing_parameter: [0.5]
        vm_concentration: [1.0]
        tuning_width: [1.0] 